@import "tailwindcss";
@keyframes showModal {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes hideModal {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
}

.animate-modal {
  animation: showModal 0.3s ease-in-out forwards;
}

.animate-modal-leave {
  animation: hideModal 0.3s ease-in-out forwards;
}
